commands.txt
.env
node_modules
package.json
package-lock.json
select_on.txt
index_old.html
old/
test.html
public/detail-template.html
template.html
links.txt
tsconfig.json
server copy.js
old_server_code.js