@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --cream: #f3eae3;
    --brown: #7B3F00;
    --light-gray: rgb(177, 177, 177);
    --green: hsl(143, 90%, 20%);
    --green-filled: hsl(143, 100%, 85%);

}

circle-progress::part(base) {
    width: 60px;
    height: 60px;
}


circle-progress::part(value) {
    stroke-width: 6px;
    stroke: var(--green);

    height: 10%;
}

circle-progress::part(circle) {
    stroke-width: 6px;
    stroke: var(--green-filled);

}

circle-progress::part(text) {
    fill: var(--green);
}

h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;

}

#logo_text {
    color: var(--brown);
}

/* nutrition-label */
#spoonacular-nutrition-ingredient-list,
#spoonacular-nutrition-label {
    border: 1px solid black;
    margin: 0 auto;
    width: 300px;
    padding: .5rem;
    background: #fff;
    font: 14px Helvetica, Arial, sans-serif, sans-serif;
    color: #333
}

#spoonacular-nutrition-ingredient-list {
    text-transform: uppercase
}

#spoonacular-nutrition-label div.separator {
    border-bottom: 10px solid black
}

#spoonacular-nutrition-label>div:first-of-type {
    border-bottom: 10px solid black;
    padding: 0 0 .25rem 0;
    margin: 0 0 .5rem 0
}

#spoonacular-nutrition-label>div:first-of-type p {
    margin: 0;
    font-size: 16px
}

#spoonacular-nutrition-label table {
    border-collapse: unset;
    border-spacing: 0;
    font-size: 14px;
    width: 100%
}

#spoonacular-nutrition-label table td {
    font-weight: 400;
    text-align: left;
    padding: .3rem 0;
    border-top: 1px solid black;
    vertical-align: middle
}

#spoonacular-nutrition-label table .empty {
    width: 1rem;
    border-top: 0
}

#spoonacular-nutrition-label table #calorie-summary td {
    font-size: 33px;
    border: 0 none !important
}

#spoonacular-nutrition-label b {
    font-weight: 900
}

#spoonacular-nutrition-label .separator td {
    border-top-width: 5px
}

#spoonacular-nutrition-label table:first-of-type td:last-child {
    text-align: right !important
}

#spoonacular-nutrition-label table:nth-of-type(2) td:first-child {
    text-align: left !important
}

#spoonacular-nutrition-label table:nth-of-type(2) td:nth-of-type(2) {
    text-align: right !important
}

#spoonacular-nutrition-label .small {
    font-size: 11px
}

#spoonacular-nutrition-label h1.separator {
    border-bottom: 1px solid black
}

#spoonacular-nutrition-label h1 {
    font-size: 35px;
    margin: 0 0 .25rem 0
}


/* similar recipe cards*/
.cream-bg {
    background-color: var(--cream);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* .similar-recipe-card img {
    margin-top: 10%;
    padding-left: 10%;
    object-fit: cover;
    width: 100%;
    height: 65%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
} */

/* full similar recipe image  */
.similar-recipe-card img {

    object-fit: cover;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.similar-recipe-card h3 {
    text-transform: uppercase;
    color: var(--light-gray);
    font-size: .8rem;
}

.similar-recipe-card p {
    line-height: 1.4em;
}